<div class="clients">
	<div class="container clients-wrapper">
		<div class="row">
			<h4 class="center bold cli-title">We work with industrie leaders</h4>
			<div class="col-xs-6 col-md-3 client-logo">
				<%= image_tag("zara.png") %>
			</div>
			<div class="col-xs-6 col-md-3 client-logo">
				<%= image_tag("next.png") %>
			</div>
			<div class="col-xs-6 col-md-3 client-logo cli-second-row">
				<%= image_tag("zara.png") %>
			</div>
			<div class="col-xs-6 col-md-3 client-logo cli-second-row">
				<%= image_tag("next.png") %>
			</div>	
		</div>
	</div>
</div>