<div class="container-fluid process">
	<div class="row pro pro1">
		<div class="col-md-6 col-sm-12">
			<div class="icon-text">
				<h1 class="orange">Quality</h1>
				<p>Donut danish tiramisu soufflé oat cake powder danish jelly beans liquorice. Lemon drops pie cookie oat cake ice cream halvah. Gingerbread biscuit chocolate. Marshmallow jelly beans candy canes cookie sugar plum. </p>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="bigicon">
				<%= image_tag("mili.png") %>
			</div>
		</div>
	</div>
	<div class="row pro pro2">
		<div class="col-md-6 col-sm-12 col-md-push-6">
			<div class="icon-text">
				<h1>Fast</h1>
				<p>Donut danish tiramisu soufflé oat cake powder danish jelly beans liquorice. Lemon drops pie cookie oat cake ice cream halvah. Gingerbread biscuit chocolate. Marshmallow jelly beans candy canes cookie sugar plum. </p>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 col-md-pull-6">
			<div class="bigicon icon">
				<%= image_tag("yarn.png") %>
			</div>
		</div>
	</div>
</div>