<div class="container process">
	<div class="row pro">
		<div class="col-md-6 col-sm-12">
			<div class="text">
				<h1>Fio</h1>
				<p>Donut danish tiramisu soufflé oat cake powder danish jelly beans liquorice. Lemon drops pie cookie oat cake ice cream halvah. Gingerbread biscuit chocolate. Marshmallow jelly beans candy canes cookie sugar plum. </p>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="bigicon">
				<%= image_tag("yarn.png") %>
			</div>
		</div>
	</div>
</div>