<% provide(:title, "Contact") %>
<div class="container-fluid">
  <div class="row">
    <div class="maps col-sm-12 col-md-6">
      <h3 class="text-center">Contactos</h3>
      <address class="text-center">
        <p>
          Lugar de Mariz – S.Vicente <br>
          4705-981 – S.Vicente <br>
          Braga - Portugal
        </p>
      <p>
        <span class="bold">Telefone:</span> + 351 253 705 940
      </p>
      <p>
        <span class="bold">Email:</span> geral@ngs.pt
      </p>
      <h4 class="bold">Coordenadas</h4>
      <p>
        <span class="bold">Latitude:</span> 45.51795
      </p>
      <p>
        <span class="bold">Longitude:</span> -9.87795
      </p>
      </address>
    </div>
    <div class="col-md-6 maps">
      <div id="map"></div>
    </div>
  </div>
</div>

<script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 41.527381, lng: -8.661947},
          zoom: 15,
          scrollwheel: false
        });
        var image = {
          url:"<%= image_url("local-ngs.png") %>",
          size: new google.maps.Size(70, 90),
          scaledSize: new google.maps.Size(40, 60),
          anchor: new google.maps.Point(0, 0),
          origin: new google.maps.Point(0, 0),
        };
        var marker = new google.maps.Marker({
          position: {lat: 41.527381, lng: -8.661947},
          map: map,
          animation: google.maps.Animation.DROP,
          title: 'Ngs malhas!',
          icon: image
        });
      }
    </script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>