@import 'colours';

.crop {
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.crop img {
    width: 100%;
    margin: -75px 0 0 0;
}

.company-sections {
	padding: 60px 32px;
}

.company-img {
	padding: 0;
}

.company-text {
	line-height: 28px;
}

.company-title {
	margin-top: 0;
}

.static_pages.company .navbarlogin {
	margin: 0;
}

.company-quality {
	background-color: $light-orange;
	color: white;
}

.company-fast {
	background-color: $blue;
	color: white;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	padding-top: 70px;
}

.carousel-indicators li {
  border: 1px solid #424242;
 }
.carousel-indicators .active {
	background-color:#424242;
}

@media (min-width: 768px) {
	.crop {
		height: 300px;
	}

	.company-sections {
		padding: 48px 48px;
	}

	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
		padding: 0;
	}
}

@media (min-width: 992px) {
	.crop {
		height: 350px;
	}
}
