@import 'colours';

.contact {
	padding-bottom: 50px;
}

.btn-msg {
	float: right;
	width: 150px;
	background: $orange;
	border: 0;
	color: white;
	transition: 0.3s;
	&:hover {
		background: $light-orange;
		color: white;
	}
}

.maps {
	padding: 0;
}

.alert {
  width: 332px;
  margin: 20px;
  margin-bottom: 0;
  border: 0;
  background-color: #FFB678;
  color:white;
}


	#contact_message {
		height: 80px;
	}

@media (min-width: 768px) {
	
	.alert {
 	 width: 450px;
	}

	#contact_message {
		height: 130px;
	}

}

@media (max-width: 320px) {
	.alert {
  	width: 280px;
	}
}