@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import "colours";
@import "contact";
@import "company";


$font: 'Open Sans', sans-serif;

$s: 12px;
$m: 24px;
$l: 36px;
$xl: 48px;
$xxl: 60px;

/* universal */
body {
  font-family: $font;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.center {
  text-align: center;
  h1 {
    margin-bottom: $s;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  line-height: $xl;
  margin: $m 0;
  text-align: center;
  font-size: 3em;
}

p {
  line-height: $m;
  margin: $m 0;
  font-size: 1.1em;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: $m;
  text-align: center;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

  .bold {
   font-weight: 600;
  }

  .orange {
      color: $light-orange;
  }

  .hidden { display: none; }


/* header */

.navbar {
  background: none;
  border-radius: 0;
  padding-top: 20px;
  padding-left: 24px;
  .icon-bar {
    background-color: white;
  }
}

.navbar-link {
  color: white;
  font-size: 17px;
  font-weight: 400;
}

.navbar-nav {
    margin: 0;
} 

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  color: $light-orange;
  text-decoration: none;
}

.nav .open > a:focus, .nav .open > a:active{
    background-color: rgba(238, 238, 238, 0.15);
  
}

#logo {
  float: left;
  margin-right: $s;
  font-size: 2.4em;
  font-weight: 700;
  color: $orange;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo {
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

.home-hero-container {
    padding: 0px;
    margin: 0px;
    height: 624px;
     background-image: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.2)
    ),image-url("knit.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: 50%;
    background-color: #3c3431;
  }

  .title-wrapper {
    margin-top: 120px;
    margin-bottom: 55px;
    padding-top: 72px;
  }

  .hero-big-title {
    margin: 0;
    font-weight: 700;
    font-size: 42px;
    color: white;
    .hero-word {
      color: $orange;
      display: block;
    }
  }

  .hero-btn{
    background-color: #d3d3d3;
    border: none;
    -webkit-border-radius: .4em;
    border-radius: .4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 700;
    padding: .6em .8em .8em;
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 -.1em rgba(0,0,0,.3);
    box-shadow: inset 0 -.1em rgba(0,0,0,.3);
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;
    margin: 0 auto;
    top: 50%;
    left: 50%; 
    display: block;
    
     &:hover {
        background-color: grey;
        color: $dirt-white;
    }
  }

  .btn-blue {
    background-color: $blue;
    color: white;
    &:hover {
        background-color: #3C4B63;
        color: $dirt-white;
    }
  }

  .btn-orange {
    background-color: $orange;
    color: white;
    &:hover {
      background: $light-orange;
      color: white;
    }
  }

  .call-to-action {
    width: 200px;
  }

  /* process */
  .icon-text {
    width: 250px;
  }

  .bigicon {
     max-width: 100px;
     margin-top: $xxl;
     left: 20%;
     top: 50%;
     position: relative;

     img {
      width: 180px;
     }
    }

  .pro {
    padding: 50px;
    h1 {
      font-weight: 400;
    }
  }

  .pro1 {
    color: $dark-blue;
    background-color: white;
  }
  
  .pro2 {
    color: white;
    background-color: #3D506F;
  }

  /* call section */

  .call-section {
    background-color: $light-orange;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .call-one {
    font-size: 24px;
    line-height: 32px;
  }

  .call-two {
    font-size: 16px;
    text-align: center;
  }

  /*   clients   */

  .clients {
    background-color: $dirt-white;
    color: $dark-blue;
    padding-top: 12px;
    
    img {
      width: 100px;
    }
  }
  
  .clients-wrapper {
    width: 300px;
    padding-top: 12px;
    padding-bottom: 32px;
  }

  .cli-title {
    font-weight: 600;
    margin-bottom: 12px;
    color: #2A3546;
  }

  .client-logo {
    padding: 16px;
  }

  /*              Maps              */

  #map {
    width: 100%;
    height: 425px;
    background-color: #CCC;
    
  }
  .map-wrapper {
    position: relative;
  }
  .map-text {
    font-weight: 400;
    position: absolute; 
    top: 15%;
    left: 5%;
    z-index: 99; 
    color: white;
  }
  .map-overlay {
    width  : 100%;
    height : 425px;
    background: $blue;
    position: absolute;
    opacity: 0.6;
    top: 0px; 
    left: 0px; 
    z-index: 80;
  }

  .map-links {
    margin-top: 48px; 
    position: relative;
    line-height: 36px;
  }
  
  .map-link {
    color: white;
    font-size: 24px;
    line-height: 40px;
    position: absolute;
    left: 20%;

  }

  .map-link:hover{
    color: $dirt-white;
  }

/*   footer  */

.footer {
  background-color: $dirt-white;
  color: $blue;

  h2 {
    margin-top: 36px;
    margin-bottom: 12px;  
    font-size: 1.5em;
  }
}

.footer-links {
  padding-left: 0;
  text-align: center;
  line-height: 36px;
}

.footer-link {
  font-size: 16px;
  line-height: 28px;
  color: #6792a8;
  text-decoration: none;
}

.navbarlogin {
  transition: 0.5s;
  background-color: rgba(57, 62, 70, 0.92);
  padding: 0;
  padding-left: 12px;
  #logo {
    font-size: 2em;
  }

  .navbar-link {
    font-size: 16px;
  }
}


/* tablets and desktop*/
@media (min-width: 768px) {
  
  .navbar {
    padding-left: 72px;
  }
  
  .navbarlogin {
    padding-left: 32px;
  }

  .title-wrapper {
    margin-top: 160px;
  }

  .hero-big-title {
    margin: 0;
    font-size: $xl;
    .hero-word {
      display: inline;
    }
  }
  
  /* process */
  .icon-text {
    width: 450px;
  }

  .bigicon {
     max-width: 100px;
     margin-top: $xxl;
     left: 20%;
     top: 50%;
     position: relative;
    }

  .pro {
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 150px;
  }

  /*     call section   */

  .call-one {
    font-size: 28px;
  }
  .call-two {
    font-size: 18px;
  }

  /* clients */
  .clients-wrapper {
    width: 600px;
  }

  .client-logo {
    padding-top: 24px;
  }

  .map-link {
    font-size: 24px;
    left: 22%;
  }

  .map-text {
    left: 20%;
  }

  /* footer */

  .footer-wrapper{
    padding: 20px 150px;
  }
}

@media (min-width: 992px) {
  
  .home-hero-container {
    height: 680px;
  }

  /* clients */
  .clients-wrapper {
    width: 800px;
  }

  .pro {
    padding: 80px;
  }
  
  .map-links {
    line-height: 48px;
  }

  .map-link {
    left: 25%;
  }

  .map-text {
    left: 35%;
  }

}



/* iphone 5 and lower */
@media (max-width: 332px) {
  
  .navbar {
    padding-left: 12px
  }

  #logo {
    font-size: 2.1em; 
  }

  .navbarlogin {
    padding-left: 5px;
    #logo {
      font-size: 1.9em;
    }
  }

  .pro {
    padding: 50px 25px;
  }

  .clients {    
    img {
      width: 80px;
    }
  }
  .clients-wrapper {
    width: 280px;
  }

  .map-text {
   h1 {
    font-size: 36px;
    line-height: 40px;
   }
  }
  
  .map-link {
    font-size: 18px;
    line-height: 36px;
  }

  .hero-big-title {
    font-size: 35px;
  }
  
  .home-hero-container {
    height: 624px;
  }
  
  .title-wrapper{
    padding-top: 10px;  
  }
}





/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
