<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/assets/media/bazaar.mp4" type="video/mp4" />
        </video>
        <div class="poster hidden">
            <% image_tag("icon") %>
        </div>
    </div>
</div>